:root {
  --main-color: #180a0a;
  --second-color: #dcd7d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-color);
  color: aliceblue;
}

.navbar {
  background-color: var(--second-color);
  display: flex;
  justify-content: end;
  align-items: center;
  width: fit-content;
  height: 50px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  right: 0;
  border-bottom-left-radius: 50px;
  z-index: 9999;
}

.navbar .list {
  display: flex;
  margin-left: 30px;
  gap: 20px;
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: #333;
}

.intro {
  width: 75%;
  margin: 100px auto 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.intro img {
  width: 350px;
  height: 350px;
  align-self: center;
}

.text-container {
  width: 50%;
}

.text-container .heading-1 {
  font-size: 50px;
}

.text-container .heading-2 {
  font-size: 30px;
}

.section-header {
  position: relative;
}

.section-title {
  background-color: var(--main-color);
  background-image: url("/assets/section-background.svg");
  background-repeat: no-repeat;
  height: 50px;
  width: 225px;
  font-size: 24px;
  text-align: center;
  background-position: center;
  margin: auto;
  padding-top: 5px;
  position: relative;
  z-index: 99;
}

.section-header .line {
  border-bottom: 3px dotted #333;
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
}
