:root {
  --main-color: #180a0a;
  --second-color: #dcd7d9;
  --third-color: #180a20;
  --fourth-color: #333;

  /* Font Size */
  --text-xs: 0.64rem;
  --text-sm: 0.8rem;
  --text-lg: 1.25rem;
  --text-xl: 1.563rem;
  --text-2xl: 1.953rem;
  --text-3xl: 2.441rem;
  --text-4xl: 3.052rem;

  /* Width */
  --max-w-xs: 20rem;
  --max-w-sm: 24rem;
  --max-w-md: 28rem;
  --max-w-lg: 32rem;
  --max-w-xl: 36rem;
  --max-w-2xl: 42rem;
  --max-w-3xl: 48rem;
  --max-w-4xl: 56rem;
  --max-w-5xl: 64rem;
  --max-w-6xl: 72rem;
  --max-w-7xl: 80rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-color);
  padding: 0 5rem;
  color: aliceblue;
  max-width: var(--max-w-6xl);
  margin: 0 auto;
}

p {
  line-height: 1.5rem;
}

.navbar {
  background-color: var(--second-color);
  display: flex;
  justify-content: end;
  align-items: center;
  width: fit-content;
  height: 3.125rem;
  padding: 0 1.25rem;
  position: fixed;
  top: 0;
  right: 0;
  border-bottom-left-radius: 3.2rem;
  z-index: 3;
}

.navbar .list-container {
  display: flex;
  margin-left: 1.8rem;
  gap: 1.25rem;
  list-style-type: none;
}

.navbar .list-item a {
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--fourth-color);
}

.navbar .list-item {
  transition: 0.4s all;
}
.navbar .list-item:hover {
  transform: scale(1.2);
}

.intro-container {
  max-width: 60rem;
  margin: 6.25rem auto 3.125rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.25rem;
}

.intro-container img {
  max-width: 350px;
  align-self: center;
}

.text-container {
  max-width: 50%;
}

.text-container .size-1 {
  font-size: 3.125rem;
  line-height: 4rem;
}

.text-container .size-2 {
  font-size: 1.875rem;
  line-height: 2rem;
}

.section-header {
  position: relative;
}

.section-title {
  background-color: var(--main-color);
  background-image: url("/assets/section-background.svg");
  background-repeat: no-repeat;
  height: 3rem;
  width: 225px;
  font-size: 1.5rem;
  text-align: center;
  background-position: center;
  margin: auto;
  padding-top: 0.6rem;
  position: relative;
  z-index: 2;
}

.section-header .line {
  border-bottom: 3px dotted var(--fourth-color);
  position: absolute;
  top: 1.5rem;
  left: 0;
  right: 0;
}

.about .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  max-width: 60rem;
  margin: 6.25rem auto;
}

.skill-set .list-container {
  display: flex;
  gap: 3rem;
  margin-left: 2rem;
}

.skill-set-text {
  margin-bottom: 1rem;
}

.text-container .content-paragraph {
  margin-bottom: 2rem;
}

.content img {
  max-width: 200px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 2px rgba(124, 124, 124, 0.7);
  transition: 0.4s all;
}

.content img:hover {
  transform: scale(1.01);
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1.5fr);
  gap: 2rem;
  max-width: var(--max-w-4xl);
  margin: 100px auto;
}

.project-card {
  position: relative;
  padding: 2rem;
  height: 20rem;
  text-align: center;
  border-radius: 20px;
  background-color: var(--third-color);
  overflow: hidden;
  box-shadow: 5px 5px 4px 2px rgba(124, 124, 124, 0.1);
  transition: 0.3s all;
}

.project-card:hover {
  transform: translateY(-0.2rem);
}

.project-title {
  border-bottom: 3px solid rgba(124, 124, 124, 0.2);
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
}

.project-description {
  padding: 0 1rem;
  height: 10rem;
  overflow-y: hidden;
  text-align: start;
  padding: 0 2px;
  /* word-spacing: 0.25rem;
  letter-spacing: .15rem; */
}

.project-description:hover {
  overflow-y: auto;
  /* padding-right: 1px; */
}

.hyperlink-container {
  position: absolute;
  background-color: var(--second-color);
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem 2rem;
}

.hyperlink-container a:hover {
  transform: scale(1.04);
}

form {
  margin: 6.25rem auto;
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
  max-width: 20rem;
}

[name="email"] {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 20px;
}

[name="message"] {
  border: none;
  border-radius: 20px;
  padding: 1rem 2rem;
}

[name="email"]:focus,
[name="message"]:focus {
  outline: 1px solid lightgreen;
  transform: scale(1.03);
}

form button {
  padding: 0.4rem;
  border: none;
  background-color: lightsalmon;
  border-radius: 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

form button:hover {
  background-color: lightcoral;
}

form button:active {
  transform: translateY(1px);
}

footer {
  text-align: center;
  margin-bottom: 10px;
}
